<div class="bg-background text-on-background font-body-md min-h-screen flex">
    <!-- Desktop Sidebar Navigation -->
    <aside
        class="hidden md:flex flex-col w-[280px] bg-surface-container-lowest border-r border-outline-variant h-screen sticky top-0 py-xl px-lg">
        <div class="mb-xl px-md">
            <h1 class="text-primary font-bold text-headline-sm tracking-tight">Paisa Tracker</h1>
        </div>
        <nav class="flex-1 space-y-sm">
            <a 
                [routerLink]="['']"
                class="cursor-pointer flex items-center gap-md px-md py-sm rounded-lg text-on-surface-variant hover:bg-surface-container transition-colors">
                <span class="material-symbols-outlined">home</span>
                <span class="text-label-caps uppercase">Home</span>
            </a>
            <a 
                [routerLink]="['/dashboard/content']"
                routerLinkActive="bg-secondary-container text-on-secondary-container font-bold transition-all scale-95 duration-200"
                class="flex items-center gap-md px-md py-sm rounded-lg text-on-surface-variant hover:bg-surface-container transition-colors">
                <span class="material-symbols-outlined" style="font-variation-settings: 'FILL' 1;">dashboard</span>
                <span class="text-label-caps uppercase">Dashboard</span>
            </a>

            <a 
                [routerLink]="['expenses']"
                routerLinkActive="bg-secondary-container text-on-secondary-container font-bold transition-all scale-95 duration-200"
                class="flex items-center gap-md px-md py-sm rounded-lg text-on-surface-variant hover:bg-surface-container transition-colors"
                >
                <span class="material-symbols-outlined">wallet</span>
                <span class="text-label-caps uppercase">Expenses</span>
            </a>
            <a 
                [routerLink]="['splits']"
                routerLinkActive="bg-secondary-container text-on-secondary-container font-bold transition-all scale-95 duration-200"
                class="flex items-center gap-md px-md py-sm rounded-lg text-on-surface-variant hover:bg-surface-container transition-colors">
                <span class="material-symbols-outlined">groups</span>
                <span class="text-label-caps uppercase">Split</span>
            </a>
            <a 
                [routerLink]="['loans']"
                routerLinkActive="bg-secondary-container text-on-secondary-container font-bold transition-all scale-95 duration-200"
                class="flex items-center gap-md px-md py-sm rounded-lg text-on-surface-variant hover:bg-surface-container transition-colors"
                >
                <span class="material-symbols-outlined">payments</span>
                <span class="text-label-caps uppercase">Loans</span>
            </a>
            <a 
                [routerLink]="['profile']"
                routerLinkActive="bg-secondary-container text-on-secondary-container font-bold transition-all scale-95 duration-200"
                class="flex items-center gap-md px-md py-sm rounded-lg text-on-surface-variant hover:bg-surface-container transition-colors">
                <span class="material-symbols-outlined">person</span>
                <span class="text-label-caps uppercase">Profile</span>
            </a>
        </nav>
        <div class="mt-auto pt-xl">
            <a [routerLink]="['add-expense']"
                class="w-full flex items-center justify-center gap-sm bg-secondary text-on-secondary py-md rounded-lg font-bold hover:opacity-90 transition-opacity">
                <span class="material-symbols-outlined">add</span>
                <span>Add Expense</span>
            </a>
        </div>
    </aside>
    <!-- Main Content Canvas -->
    <main class="flex-1 min-w-0 overflow-y-auto px-margin-mobile md:px-margin-desktop py-xl bg-background">
        <router-outlet></router-outlet>
    </main>
    <!-- Mobile Navigation (Hidden on Desktop) -->
    <nav
        class="md:hidden fixed bottom-0 w-full z-50 flex justify-around items-center px-4 py-2 bg-surface-container-lowest border-t border-outline-variant shadow-lg rounded-t-xl">
        <a class="flex flex-col items-center justify-center bg-secondary-container text-on-secondary-container rounded-full px-4 py-1 active:scale-90 transition-all duration-200"
            href="#">
            <span class="material-symbols-outlined" style="font-variation-settings: 'FILL' 1;">home</span>
            <span class="text-label-caps">Home</span>
        </a>
        <a class="flex flex-col items-center justify-center text-on-surface-variant p-2 hover:bg-surface-container transition-colors"
            href="#">
            <span class="material-symbols-outlined">insights</span>
            <span class="text-label-caps">Analytics</span>
        </a>
        <a class="flex flex-col items-center justify-center text-on-surface-variant p-2 hover:bg-surface-container transition-colors"
            href="#">
            <span class="material-symbols-outlined">groups</span>
            <span class="text-label-caps">Split</span>
        </a>
        <a class="flex flex-col items-center justify-center text-on-surface-variant p-2 hover:bg-surface-container transition-colors"
            href="#">
            <span class="material-symbols-outlined">payments</span>
            <span class="text-label-caps">EMI</span>
        </a>
        <a class="flex flex-col items-center justify-center text-on-surface-variant p-2 hover:bg-surface-container transition-colors"
            href="#">
            <span class="material-symbols-outlined">person</span>
            <span class="text-label-caps">Profile</span>
        </a>
    </nav>

</div>